.DS_Store
.gitignore
Pipfile.lock
flix_bus_transfer_details.json
sample_our_response.json
Pipfile
Pipfile.lock
**__pycache__
**/backend/__pycache__
**.plist
OfflineTrips.json
**/frontend/.DS_Store
*/frontend/ios/GetMeHome.xcodeproj/project.xcworkspace/xcuserdata/ronaldjabouin.xcuserdatad/UserInterfaceState.xcuserstate
/frontend/ios/GetMeHome.xcodeproj/project.xcworkspace/xcuserdata/ronaldjabouin.xcuserdatad/UserInterfaceState.xcuserstate
