beautifulsoup4
click
fastjsonschema
Flask
gunicorn
itsdangerous
Jinja2
jsonpickle
jsonpointer
jsonschema
MarkupSafe
pickleshare
pipenv
python-dateutil
python-json-logger
soupsieve
virtualenv
websocket-client
requests
Werkzeug
